## Python Variables

- Different type of variables (integer, float, string)
- What is a variable? How to assign variables? 
- Operators and Precedence

#### Example 1 - Variables Type

In [2]:
a = '4'
b = 2
c = 2.8

In [3]:
print("What is a?")
type(a)

What is a?

str

In [4]:
print("What is b?")
print(type(b))
print("What is c?")
print(type(c))

What is b?
<class 'int'>
What is c?
<class 'float'>

#### Example 2 - Variables Assignment
- Create an object. Can be a string, float, integer
- Give it a characteristic. Can be a value, a name
- Do something with it! Here, print it in the console

In [11]:
x = "Hello"
y = "World"
z = 2

In [12]:
## Str Addition
print("What happen if I add 2 strings?")
print(x + y)
## Str & Int Addition
print("What happen if I add a string and a integer?")
print(x + str(z))

What happen if I add 2 strings?
HelloWorld
What happen if I add a string and a integer?
Hello2

In [13]:
print("Oh no, where is the space?")
print(x+" "+y)

Oh no, where is the space?
Hello World

In [14]:
## Str Multiplication
print("What happen if I multiplie 2 strings?")
print(x*x)

What happen if I multiplie 2 strings?

TypeError: can't multiply sequence by non-int of type 'str'

In [15]:
## Str & Int Multiplication
print("What happen if I multiplie a string and a integer?")
print(x*z)

What happen if I multiplie a string and a integer?
HelloHello

In [16]:
## Variables States
x = "Hello"
y = "World"

a = x + y
b = y + x
c = a + x

In [17]:
print(a)
print(b)
print(c)

HelloWorld
WorldHello
HelloWorldHello

#### Example 3 - Best Practice
- Write constants in CAPITAL_LETTERS
- Write variable, function names in lower_case
- Don't use Python Keywords -> you will get errors!
- A variable name must describe the information represented by the variable. Tell in words what the variables stands for.
- Can your code be understand by someone else?
- Look at standard conventions.

Have a read here for some tips: https://towardsdatascience.com/data-scientists-your-variable-names-are-awful-heres-how-to-fix-them-89053d2855be

In [18]:
## What are python keywords?
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [21]:
UK_CAPITAL = "London"
uk_capital = "London"
UKCAPITAL = "London"
ukcapital = "London"
print(UK_CAPITAL,uk_capital,UKCAPITAL,ukcapital)

London London London London

### Python Conditions
- Comparison Operators (bigger, smaller, equal)
- Logic Operators (boolean, "nested")
- Loop with for

#### Example 4 - Comparison Operators

In [22]:
a = 2
b = 4
c = 4

In [24]:
## Comparison Operators
print("Is a smaller than b?")
print(a < b)

print("Is a bigger than b?")
print(a > b)

print("Is a equal to b?")
print(a == b)

print("Is a non-equal (different) to b?")
print(a != b)

print("Is b smaller or equal to c?")
print(b <= c)  

print("Is b bigger or equal to c?")
print(b >= c)

Is a smaller than b?
True
Is a bigger than b?
False
Is a equal to b?
False
Is a non-equal (different) to b?
True
Is b smaller or equal to c?
True
Is b bigger or equal to c?
True

In [25]:
## Type of Comparison Operators
print("What is the type of these objects?")
type(a < b)

What is the type of these objects?

bool

#### Example 5 - Logic Operators (and, or, not)

Alice is travelling in Europe. If t represents day, where is Alice?
- Yesterday (t = -1) she was in ...
- Today (t = 0) she is in ...
- Tomorrow (t = 1) she is flying to ...

In [28]:
t = -1

if t > -1 and t < 1:
    print("London")

if t > 0 or t < -1:
    print("Amsterdam")

if not(t>-1):
    print("Paris")

Paris

#### Example 6 - For Loop
Alan is preparing for a trip in the Alps between the 20th and 27th October. Looking at his 8-day plans, he decides to do some Mountain Bike on even days and hiking on uneven days.

Write a for loop for Alan that will print him the days when he hike and the days when he does mountain biking. 

*(Hint: use the range(start,end), Think of even and odd numbers and %(divide) operator!)*

In [32]:
for day in range(20,28):
    print(day)
    if day%2==0:
        print("Mountain Bike")
    else:
        print("Hiking")

20
Mountain Bike
21
Hiking
22
Mountain Bike
23
Hiking
24
Mountain Bike
25
Hiking
26
Mountain Bike
27
Hiking

In [31]:
for day in range(20,28):
    print(day)
    if day%2==0:
        print("Mountain Bike")
    if not(day%2==0):
        print("Hiking")

20
Mountain Bike
21
Hiking
22
Mountain Bike
23
Hiking
24
Mountain Bike
25
Hiking
26
Mountain Bike
27
Hiking

### Python Lists
- Indexing & slicing a list
- Finding the position of items & Ordering items (alphabetical, values)
- Adding, removing items of a list

#### Example 7 - List Indexing & Slicing

In [59]:
define_list = []
london_boroughs = ['Camden','Hackney','Southwark','Westminster','Brent']

print('How many London boroughs are in this list?')
print(len(london_boroughs))

print('What is positive indexing? What boroughs will I get')
print(london_boroughs[2])
print(london_boroughs[2:3])

print('What is positive indexing? What boroughs will I get')
print(london_boroughs[-4])

print("The London boroughs without Hackney?")
lnd_boroughs_wo_hackney = print([london_boroughs[0]]+london_boroughs[2:5])
print(lnd_boroughs_wo_hackney)

How many London boroughs are in this list?
5
What is positive indexing? What boroughs will I get
Southwark
['Southwark']
What is positive indexing? What boroughs will I get
Hackney
The London boroughs without Hackney?
['Camden', 'Southwark', 'Westminster', 'Brent']
None

In [47]:
del london_boroughs[1]
london_boroughs

['Camden', 'Southwark', 'Westminster', 'Brent']

#### Example 8 - List Position & Ordering

In [67]:
print("What is the position of Brent in the list?")
print(london_boroughs.index("Brent"))
## london_boroughs.isin("Brent") ? How to check .isin in a list? 
print("Is Camden is my london_boroughs list?")
true_or_false = "Camden" in london_boroughs #isin => .isin (built-in function in pandas library)! Better not to use to define variables!
print(true_or_false)

What is the position of Brent in the list?
4
Is Camden is my london_boroughs list?
True

In [61]:
for i in london_boroughs:
        print(london_boroughs.index(i),i)

0 Camden
1 Hackney
2 Southwark
3 Westminster
4 Brent

In [63]:
test_camden = "Camden" in london_boroughs
print(isin)

True

In [57]:
## list.sort and sorted(list) Function
london_boroughs.sort() # reverse = False 
print(london_boroughs)
london_boroughs.sort(reverse=True)
print(london_boroughs)
print(sorted(london_boroughs))

['Brent', 'Camden', 'Hackney', 'Southwark', 'Westminster']
['Westminster', 'Southwark', 'Hackney', 'Camden', 'Brent']
['Brent', 'Camden', 'Hackney', 'Southwark', 'Westminster']

In [58]:
## Append, Insert, Extend
new_borough = 'Lambeth'
london_boroughs.append(new_borough)
print(london_boroughs)

new_borough = 'Haringey'
london_boroughs.insert(2,new_borough)
print(london_boroughs)

new_borough = 'Haringey'
london_boroughs.remove("Camden")
print(london_boroughs)

new_boroughs = ['Islington','Newham']
london_boroughs.extend(new_boroughs)
print(london_boroughs)

['Westminster', 'Southwark', 'Hackney', 'Camden', 'Brent', 'Lambeth']
['Westminster', 'Southwark', 'Haringey', 'Hackney', 'Camden', 'Brent', 'Lambeth']
['Westminster', 'Southwark', 'Haringey', 'Hackney', 'Brent', 'Lambeth']
['Westminster', 'Southwark', 'Haringey', 'Hackney', 'Brent', 'Lambeth', 'Islington', 'Newham']

### Programming Paradigm
##### Object-oriented Language & Procedural Programming! What does this mean?
##### Object-Oriented: 
*"A means to structure programs so that properties and behaviors are bundles into individual objects!"*

##### Procedural: 
*"A way to structure program like a recipe in that it provides a set of steps, in the form of function sand code blocks, that flow sequentially in order to complete a task"*

##### What do objects represent?
- a character and its characteristics (properties and behaviours)
- Examples: 
    - A city with its name, population, location and behaviours such as trade relations
    - A person with its age, email, institution and behaviours such as walking, running, talking

Object-oriented programming allow for modeling concrete, real-world things as well as the relations between things. Think of identifying a taxi, of looking at the relations between companies and employees, and may more!

### Terminal Commands Reminder

Have a read over here: https://bconnelly.net/posts/working_with_csvs_on_the_command_line/

- _mv_: Move a file from the existing directory to a new one
- _cp_: Rename a file
- _open_ <filename>: unzip a file
- _head_ -n 1 <filename>: print the name of the first line, column name
- _wc_ -l <filename>: output number of lines in a file
- _grep_ "pattern" <filename>: grep line with the same character, pattern!